.scrollCv {
    overflow: scroll;
    height: calc(100vh - 64px);
    z-index: 9999;
  }
  
  .scrollCv:hover {
    // overflow: overlay !important;
    z-index: 9999;
  }
  
  .custReviewTitle{
    white-space: nowrap;
    color: rgb(0, 63, 183);
    font-size: 0.75rem;
    font-weight: 600;
  }