################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CvUpSolution/LuceneLibrary/Index
/CvUpSolution/CvUpAPI/bin
/CvUpSolution/CvUpAPI/obj