body {
  overflow: hidden; /* Hide scrollbars */
}
.rpv-core__tooltip-body{
  display: none;
}
.rpv-default-layout__container{
  border: 0 !important;
}
.rpv-core__inner-pages.rpv-core__inner-pages--vertical{
  /* overflow: hidden  !important; */
}

.rpv-core__inner-pages.rpv-core__inner-pages--vertical:hover{
  /* overflow: overlay  !important; */
  z-index: 1;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
  /* box-shadow: inset 0 0 5px rgb(240, 237, 237);  */
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(196, 196, 196); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.ql-editor{
  height: calc(100vh - 25rem);
  overflow: auto;
}