.wrapper {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: fit-content;

  .inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      padding-left: 5px;
      padding-bottom: 5px;
      padding-top: 5px;
    }
    .dateInput {
      width: 10rem;
      padding: 1rem;
      height: 40px;
      border: 1px solid #c5c5c5;
      outline: none;

      // padding-left: 0.5rem;
      // border: none;
      // border-bottom: 1px solid;
      // margin-bottom: 6px;
      // color: aqua;
    }
    .ohlcInput {
      width: 18rem;
      padding: 1rem;
      height: 40px;
      border: 1px solid #c5c5c5;
      outline: none;
      // padding-left: 0.5rem;
      // border: none;
      // border-bottom: 1px solid;
      // margin-bottom: 6px;
      // color: aqua;
    }
    .error {
      color: rgb(196, 102, 102);
      padding-top: 5px;
      padding-bottom: 5px;
      height: 30px;
    }
  }
  // .txtInput:focus {
  //   // outline: none;
  // }
}
