.ulRoot{
  position: relative;
  display: block;
  list-style: none;
  padding-inline-start: 10px;
  margin-top: 5px;
  height: calc(100vh - 164px);
  overflow-y: scroll;
  margin-bottom: 0;
  &.isMobile {
    height: calc(100vh - 153px);
}
}
// .ulRoot:hover{
//   overflow: overlay;
// }

.iconsDiv{
 display: flex;
 gap: 1rem;
}

.folderLine {
  background-color: inherit;
  display: flex;
  height: 30px;
  padding: 5px 10px;
  align-items: center;
  justify-content: space-between;

  .editFolder {
    display: inline;
  }
}

// .folderLine:hover {
//   background-color: #f9f9f9;

//   .editFolder {
//     display: inline;
//     animation: fadeIn linear 0.5s 1 normal forwards !important;
//   }
// }

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
